@model Web.Models.User.UserAuthModel
@{
    ViewData["Title"] = "Auth";
}

<h1>用户授权</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Auth">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <h2>权限</h2>
            <hr />
            @{int i = 0; }
            @foreach (var group in Model.Permissions.GroupBy(x => x.Group))
            {
                <div class="form-group">
                    <label class="control-label">&nbsp;</label>
                    @foreach (var permission in group)
                    {
                        <label class="checkbox-inline @(permission.Disabled ? "disabled" : "")">
                            <input asp-for="Permissions[i].Checked" disabled="@permission.Disabled" /> @permission.Name
                            <input asp-for="Permissions[i].Disabled" type="hidden" />
                            <input asp-for="Permissions[i].Group" type="hidden" />
                            <input asp-for="Permissions[i].Name" type="hidden" />
                        </label>
                        i++;
                    }
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>